name: Build and Deploy to Branch

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install
      - run: npm run build

      - name: Save build
        run: |
          mkdir /tmp/build
          cp -r dist/* /tmp/build/

      - name: Publish to deploy branch
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          git fetch origin
          git checkout deploy || git checkout --orphan deploy

          rm -rf *
          cp -r /tmp/build/* .

          git add .
          git commit -m "auto deploy build" || echo "no changes"
          git push origin deploy
